<div
  *ngIf="
    isUpdateCompanyClicked;
    then updateCompanyBlock;
    else companiesListBlock
  "
></div>

<ng-template #updateCompanyBlock>
  <button
    (click)="handleBack()"
    pButton
    type="button"
    label="Back To List"
    class="p-button-info m-2"
  ></button>
  <app-updatecompany companyId="{{ companyId }}"></app-updatecompany>
</ng-template>

<ng-template #companiesListBlock>
  <p-table
    [value]="companies"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company>
      <tr>
        <td>{{ company.firstname }}</td>
        <td>{{ company.secondname }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.telephone }}</td>
        <td>{{ company.address }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-cog"
            class="p-button-rounded p-button-secondary"
            (click)="clickUpdateCompany(company._id)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteCompany(company._id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
