<p-table
  [value]="fertilizers"
  styleClass="p-datatable-striped"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 15]"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Company Name</th>
      <th>Product Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-fertilizer>
    <tr>
      <td>{{ fertilizer.name }}</td>
      <td>{{ fertilizer.companyname }}</td>
      <td>{{ fertilizer.producttype }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-cog"
          class="p-button-rounded p-button-secondary"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
