<div
  *ngIf="isUpdateFertilizerClicked; then updateFertilizerBlock; else fertilizersListBlock"
></div>

<ng-template #updateFertilizerBlock>
  <button
    (click)="handleBack()"
    pButton
    type="button"
    label="Back To List"
    class="p-button-info m-2"
  ></button>
  <app-updatefertilizer fertilizerId="{{fertilizerId}}"></app-updatefertilizer>
</ng-template>

<ng-template #fertilizersListBlock>
  <p-table
    [value]="fertilizers"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Company Name</th>
        <th>Product Type</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fertilizer>
      <tr>
        <td>{{ fertilizer.name }}</td>
        <td>{{ fertilizer.companyname }}</td>
        <td>{{ fertilizer.producttype }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-cog"
            class="p-button-rounded p-button-secondary"
            (click)="clickUpdateFertilizer(fertilizer._id)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteFertilizer(fertilizer._id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>



