<div class="container p-5">
  <form [formGroup]="updateForm" class="create-form">
    <div class="mb-3">
      <label class="form-label">Product Name</label><br>
      <input type="text" pInputText required value={{fertilizer.name}} #pname/>
    </div>
    <div class="mb-3">
      <p-dropdown [options]="groupedCompanies" placeholder="Select a Company" [group]="true"  #comname>
        <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="mb-3">
      <p-dropdown [options]="fertilizerTypes" placeholder="Select the Type" optionLabel="name"
                  [showClear]="true" #protype></p-dropdown>
    </div>


    <button pButton type="submit" label="Submit" class="p-button-help"
            (click)="updateFertilizer(pname.value,comname.value,protype.value)">
    </button>
  </form>
</div>


