<div style="margin-top: 1rem">
  <div class="row">
    <div class="col-md-4">
      <p-card
        [style]="{
          backgroundColor: '#f50057',
          color: '#000000',
          margin: '0.5rem'
        }"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>Registered Farmers</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <h5>345</h5>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-md-4">
      <p-card
        [style]="{
          backgroundColor: '#76ff03',
          color: '#000000',
          margin: '0.5rem'
        }"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>Active Officers</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <h5>45</h5>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-md-4">
      <p-card
        [style]="{
          backgroundColor: '#ff3d00',
          color: '#000000',
          margin: '0.5rem'
        }"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>Fertilizer Stock</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <h5>789</h5>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="row mt-5" style="margin-top: 1rem">
    <div class="col-md-12">
      <app-combochart></app-combochart>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">content goes here</div>
  </div>
</div>
