<p-card>
  <div class="container p-5">
    <form [formGroup]="createForm" class="create-form">
      <div class="mb-3">
        <p-dropdown
          [options]="fertilizerProductNames"
          [style]="{ width: '20rem' }"
          placeholder="Select Fertilizer"
          optionLabel="name"
          [showClear]="true"
          #name
        ></p-dropdown>
      </div>

      <div class="mb-3">
        <p-dropdown
          [options]="fertilizerTypes"
          [style]="{ width: '20rem' }"
          placeholder="Select Product Type"
          optionLabel="name"
          [showClear]="true"
          #protype
        ></p-dropdown>
      </div>

      <div class="mb-3">
        <input
          type="text"
          placeholder="Quantity (kg)"
          pInputText
          required
          #quantity
        />
      </div>

      <button
        pButton
        type="submit"
        label="Submit"
        class="p-button-raised p-button-help"
        (click)="sendStockToDB(name.value, protype.value, quantity.value)"
      ></button>
    </form>
  </div>
</p-card>

<p-dialog
  header="Confirmation"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h6>The Fertilizer Stock Has Been Added Successfully!</h6>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModal = false"
      label="Ok"
      styleclass="p-button-raised p-button-help"
    ></p-button>
  </ng-template>
</p-dialog>
