<div class="container p-5">
  <form class="create-form">
    <div class="mb-3">
      <label class="form-label">UserName</label><br />
      <input
        name="username"
        type="text"
        [(ngModel)]="loginUserData.username"
        pInputText
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label><br />
      <input
        name="password"
        type="text"
        [(ngModel)]="loginUserData.password"
        pInputText
        required
      />
    </div>

    <button
      pButton
      type="submit"
      label="Login"
      class="p-button-primary"
      (click)="handleLogin()"
    ></button>
  </form>
</div>
