<div class="container p-5">
  <form class="create-form">
    <div class="mb-3">
      <label class="form-label">UserName</label><br />
      <input type="text" pInputText required #username />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label><br />
      <input type="text" pInputText required #password />
    </div>

    <button
      pButton
      type="submit"
      label="Login"
      class="p-button-primary"
      (click)="handleLogin()"
    ></button>
  </form>
</div>
