<div>
  <app-navbar></app-navbar>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <p-panelMenu
        [transitionOptions]="'200ms'"
        [model]="items"
        [style]="{ width: '100%' }"
      ></p-panelMenu>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div *ngIf="isDefaultPanelClicked; then defaultDisplayBlock"></div>
        <div *ngIf="isPanelClicked == 'addFarmer'; then addFarmerBlock"></div>
        <div
          *ngIf="isPanelClicked == 'farmersList'; then farmersListBlock"
        ></div>
        <div *ngIf="isPanelClicked == 'showGraphs'; then showGraphsBlock"></div>
        <div *ngIf="isPanelClicked == 'addOfficer'; then addOfficerBlock"></div>
        <div
          *ngIf="isPanelClicked == 'officersList'; then officersListBlock"
        ></div>
        <div
          *ngIf="isPanelClicked == 'addFertilizer'; then addFertilizerBlock"
        ></div>
        <div
          *ngIf="isPanelClicked == 'fertilizersList'; then fertilizersListBlock"
        ></div>
        <div *ngIf="isPanelClicked == 'addCompany'; then addCompanyBlock"></div>
        <div
          *ngIf="isPanelClicked == 'companiesList'; then companiesListBlock"
        ></div>
        <div *ngIf="isPanelClicked == 'issueBill'; then issueBillBlock"></div>
        <div
          *ngIf="isPanelClicked == 'issueBillList'; then issueBillListBlock"
        ></div>

        <div class="col-md-12">
          <ng-template #defaultDisplayBlock>
            <app-defaultdisplay></app-defaultdisplay>
          </ng-template>

          <ng-template #addFarmerBlock>
            <app-addfarmers></app-addfarmers>
          </ng-template>

          <ng-template #farmersListBlock>
            <app-farmerslist></app-farmerslist>
          </ng-template>

          <ng-template #addOfficerBlock>
            <app-addofficers></app-addofficers>
          </ng-template>

          <ng-template #officersListBlock>
            <app-officerslist></app-officerslist>
          </ng-template>

          <ng-template #addFertilizerBlock>
            <app-addfertilizers></app-addfertilizers>
          </ng-template>

          <ng-template #fertilizersListBlock>
            <app-fertilizerslist></app-fertilizerslist>
          </ng-template>

          <ng-template #addCompanyBlock>
            <app-addsellingcompany></app-addsellingcompany>
          </ng-template>

          <ng-template #companiesListBlock>
            <app-sellingcompanieslist></app-sellingcompanieslist>
          </ng-template>

          <ng-template #issueBillBlock>
            <app-issue-fertilizer></app-issue-fertilizer>
          </ng-template>

          <ng-template #issueBillListBlock>
            <app-issue-fertilizer-list></app-issue-fertilizer-list>
          </ng-template>

          <ng-template #showGraphsBlock>
            <div class="row">
              <div class="col-md-12">
                <app-chart01></app-chart01>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <app-chart05></app-chart05>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <app-chart02></app-chart02>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <app-chart03></app-chart03>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <app-chart04></app-chart04>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <p-scrollTop [threshold]="200"></p-scrollTop>

  <div class="row" style="margin-top: 3rem">
    <div class="col-md-12"></div>
  </div>
</div>
