<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p-accordion>
        <p-accordionTab header="Header I" [selected]="true">
          <button pButton type="button" label="Submit" class="p-button-help">
          </button>
        </p-accordionTab>
        <p-accordionTab header="Header II">
          <button pButton type="button" label="Submit" class="p-button-help">
          </button>
        </p-accordionTab>
        <p-accordionTab header="Header III">
          <button pButton type="button" label="Submit" class="p-button-help">
          </button>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="col-md-8">
      sscsc
    </div>
  </div>
</div>


