<div class="container p-5">
  <form>
    <div class="mb-3">
      <label class="form-label">First Name</label><br>
      <input type="text" pInputText/>
    </div>
    <div class="mb-3">
      <label class="form-label">Second Name</label><br>
      <input type="text" pInputText/>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label><br>
      <input type="text" pInputText/>
    </div>

    <button pButton type="submit" label="Submit" class="p-button-help"></button>
  </form>
</div>

