<div class="py-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label class="m-2">Username</label>
              <input
                type="text"
                name="email"
                class="form-control rounded-0 m-2"
                required
                #email
              />
            </div>

            <div class="form-group">
              <label class="m-2">Username</label>
              <input
                type="text"
                name="email"
                class="form-control rounded-0 m-2"
                required
                #email
              />
            </div>

            <div class="form-group">
              <label class="m-2">Username</label>
              <input
                type="text"
                name="email"
                class="form-control rounded-0 m-2"
                required
                #email
              />
            </div>

            <div class="form-group">
              <label class="m-2">Username</label>
              <input
                type="text"
                name="email"
                class="form-control rounded-0 m-2"
                required
                #email
              />
            </div>

            <div class="form-group">
              <label class="m-2">Username</label>
              <input
                type="text"
                name="email"
                class="form-control rounded-0 m-2"
                required
                #email
              />
            </div>

            <button type="submit" class="btn btn-primary float-right m-2">
              Register
            </button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>
