<div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-md-12">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText #inputnic />
        <label for="float-input">Search by NIC</label>
      </span>
    </div>
  </div>
  <div class="row" style="margin-top: 0.5rem">
    <div class="col-md-12">
      <button
        pButton
        type="submit"
        label="Search"
        class="p-button-success"
        (click)="searchFarmer(inputnic.value)"
      ></button>
    </div>
  </div>
</div>
