<div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-md-12">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText #inputnic />
        <label for="float-input">Search by NIC</label>
      </span>
    </div>
  </div>
  <div class="row" style="margin-top: 0.5rem">
    <div class="col-md-12">
      <button
        pButton
        type="submit"
        label="Search"
        class="p-button-success"
        (click)="searchFarmer(inputnic.value)"
      ></button>
    </div>
  </div>
  <div *ngIf="showResults; then defaultDisplayBlock"></div>
  <ng-template #defaultDisplayBlock>
    <div style="margin-top: 0.5rem">
      <p-card>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>First Name</strong></label
          >
          <div class="col-md-12">
            {{ firstname }}
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>Second Name</strong>
          </label>
          <div class="col-md-12">
            {{ secondname }}
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>Address</strong>
          </label>
          <div class="col-md-12">
            {{ address }}
          </div>
        </div>
      </p-card>
    </div>
  </ng-template>

  <div class="row" style="margin-top: 1rem">
    <div class="col-md-12">
      <p-multiSelect
        [options]="cities"
        [style]="{ width: '20rem' }"
        placeholder="Select the Fertilizer Type"
        optionLabel="name"
        #selectedItems
      ></p-multiSelect>
    </div>
  </div>

  <div class="row" style="margin-top: 0.5rem">
    <div class="col-md-12">
      <button
        pButton
        type="submit"
        label="Issue Items"
        class="p-button-danger"
        (click)="issueFerilizer(selectedItems.value)"
      ></button>
    </div>
  </div>

  <div *ngIf="billPreview; then showBillBlock"></div>

  <ng-template #showBillBlock>
    <div style="margin-top: 1rem">
      <p-card>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"><h3>Bill Preview</h3></label>
        </div>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>First Name</strong></label
          >
          <div class="col-md-12">
            {{ firstname }}
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>Second Name</strong>
          </label>
          <div class="col-md-12">
            {{ secondname }}
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>Address</strong>
          </label>
          <div class="col-md-12">
            {{ address }}
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-12 col-form-label"
            ><strong>Purchased Fertilizers</strong>
          </label>
          <div class="col-md-12">//purchased fertilizers goes here</div>
        </div>
      </p-card>
    </div>
  </ng-template>
</div>
