<p-card>
  <div class="container p-5">
    <form [formGroup]="createForm" class="create-form">
      <div class="mb-3">
        <label class="form-label">First Name</label><br />
        <input type="text" pInputText required #firstname />
      </div>
      <div class="mb-3">
        <label class="form-label">Second Name</label><br />
        <input type="text" pInputText required #secondname />
      </div>
      <div class="mb-3">
        <p-dropdown
          [options]="officerTypes"
          [style]="{ width: '20rem' }"
          placeholder="Select the Type"
          optionLabel="name"
          [showClear]="true"
          #position
        ></p-dropdown>
      </div>

      <button
        pButton
        type="submit"
        label="Submit"
        class="p-button-raised p-button-help"
        (click)="addOfficer(firstname.value, secondname.value, position.value)"
      ></button>
    </form>
  </div>
</p-card>

<p-dialog
  header="Confirmation"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h6>The Officer Has Been Added Successfully!</h6>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModal = false"
      label="Ok"
      styleclass="p-button-raised p-button-help"
    ></p-button>
  </ng-template>
</p-dialog>
