<div
  *ngIf="isUpdateFarmerClicked; then updateFarmerBlock; else farmersListBlock"
></div>

<ng-template #updateFarmerBlock>
  <button
    (click)="handleBack()"
    pButton
    type="button"
    label="Back To List"
    class="p-button-info m-2"
  ></button>
  <app-updatefarmer farmerId="{{ farmerId }}"></app-updatefarmer>
</ng-template>

<ng-template #farmersListBlock>
  <p-table
    [value]="farmers"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>NIC</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.firstname }}</td>
        <td>{{ product.secondname }}</td>
        <td>{{ product.nic }}</td>
        <td>{{ product.address }}</td>
        <td>
          <div class="row">
            <div class="col-md-2 m-1">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-cog"
                class="p-button-rounded p-button-secondary"
                (click)="clickUpdateFarmer(product._id)"
              ></button>
            </div>
            <div class="col-md-2 m-1">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
                (click)="deleteFarmer(product._id)"
              ></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
